<div class="row">
    <!-- create a wide column -->
    <div class="col-xs-10">
        <shopping-list-edit></shopping-list-edit>
        <hr>
        <ul class="list-group">
            <!-- style  enforces a cursor that looks like a pointer instead of having an href-->
            <a 
                class="list-group-item" 
                style="cursor: pointer"
                *ngFor = "let i of ingredients; let idx = index"
                (click)="onEditItem(idx)"
            >
                {{ i.name }} ({{i.amount}})
            </a>
        </ul>
    </div>
</div>
