<div class="row">
    <!-- span full avail width -->
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <!-- on SMALL devices span full avail width -->
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <!-- form-control makes it look nice in bootstrap world -->
                    <input 
                        type="text" 
                        id="name" 
                        class="form-control"
                        name="name"
                        required
                        ngModel>
                </div>
                <!-- Create a small input NEXT to the above -->
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <!-- Pattern below validates numbers greater than 1 -->
                    <input 
                        type="number" 
                        id="amount" 
                        class="form-control"
                        name="amount"
                        required
                        pattern="^[1-9]+[0-9]*$" 
                        ngModel> 
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input type="submit" class="btn btn-success" [value]="editMode ? 'Update' : 'Add'" [disabled]="!f.valid"/>
                    <input type="button" class="btn btn-danger" value="Delete" (click)="onDelete()" [disabled]="!editMode"/>
                    <input type="button" class="btn btn-primary" value="Clear" (click)="onClear()"/>
                </div>
            </div>
        </form>
    </div>
</div>