<div class="navbar navbar-default">
  <!-- create own view container inside div tag -->
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- Add navbar text style -->
      <a href="#" class="navbar-brand"> Recipe Book </a>
    </div>
    <!-- collapse navbar-collapse will collapse on smaller screens making it unreachable on small screens -- needs a hamburger menu-->
    <div class="collapse navbar-collapse">
      <!-- adding list item the list items will sit next to each other in bootstrap -->
      <ul class="nav navbar-nav">
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Shopping List</a></li>
      </ul>
      <!-- position links to right -->
      <ul class="nav navbar-nav navbar-right">
        <!-- holds content only, requires something to toggle -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Manage<span class="caret"></span></a>
          <!-- hold items of dropdown -->
          <ul class="dropdown-menu">
            <li><a href="#"> Save Data </a></li>
            <li><a href="#"> Fetch Data </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
